In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression

In [53]:
train_df = pd.read_csv('/kaggle/input/summer-analytics-mid-hackathon/hacktrain.csv')
train_df

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Unnamed: 0,ID,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,0,1,water,637.5950,658.668,-1882.030,-1924.36,997.904,-1739.990,630.087,...,NaN,-1043.160,-1942.490,267.138,NaN,NaN,211.328,-2203.020,-1180.19,433.906
1,1,2,water,634.2400,593.705,-1625.790,-1672.32,914.198,-692.386,707.626,...,NaN,-933.934,-625.385,120.059,364.858,476.972,220.878,-2250.000,-1360.56,524.075
2,3,4,water,58.0174,-1599.160,NaN,-1052.63,NaN,-1564.630,NaN,...,-1025.880,368.622,NaN,-1227.800,304.621,NaN,369.214,-2202.120,NaN,-1343.550
3,4,5,water,72.5180,NaN,380.436,-1256.93,515.805,-1413.180,-802.942,...,-1813.950,155.624,NaN,-924.073,432.150,282.833,298.320,-2197.360,NaN,-826.727
4,7,8,water,1136.4400,NaN,NaN,1647.83,1935.800,NaN,2158.980,...,1535.000,1959.430,-279.317,-384.915,-113.406,1020.720,1660.650,-116.801,-568.05,-1357.140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,10537,10538,impervious,1207.7000,984.620,NaN,1166.25,937.478,1072.700,823.896,...,1117.740,1176.600,1044.110,NaN,369.082,465.843,362.882,979.795,NaN,433.659
7996,10538,10539,impervious,2170.3500,1419.720,1361.000,1478.71,983.911,1262.110,1422.860,...,984.634,2128.970,1379.660,NaN,762.633,485.204,446.724,771.747,1589.06,506.936
7997,10541,10542,impervious,1895.6800,1454.740,NaN,1033.56,1930.380,1057.150,1471.600,...,888.408,2093.020,1232.110,1190.830,1441.460,1170.880,1095.000,1818.650,2501.72,1247.770
7998,10542,10543,impervious,3465.7400,1283.320,413.412,4391.05,1146.820,4473.050,1614.750,...,5833.760,4047.320,4515.800,433.177,277.296,744.143,NaN,3759.710,NaN,388.346
7999,10544,10545,impervious,6941.1900,1667.870,5084.780,NaN,1588.950,5978.190,NaN,...,7352.570,3289.860,3729.150,1994.980,NaN,5299.900,NaN,5983.130,1249.71,2424.230

In [54]:
train_df.shape

(8000, 30)

In [55]:
# checking for duplicate rows
train_df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
7995    False
7996    False
7997    False
7998    False
7999    False
Length: 8000, dtype: bool

In [56]:
#checking null value  counts for each row
train_df.isnull().sum()

Unnamed: 0       0
ID               0
class            0
20150720_N     560
20150602_N    1200
20150517_N     800
20150501_N     960
20150415_N     480
20150330_N    1120
20150314_N     720
20150226_N    1360
20150210_N     640
20150125_N    1040
20150109_N     880
20141117_N    1280
20141101_N     400
20141016_N    1440
20140930_N     800
20140813_N     560
20140626_N    1600
20140610_N     480
20140525_N     720
20140509_N     880
20140423_N    1760
20140407_N     640
20140322_N    1120
20140218_N    1440
20140202_N     560
20140117_N    1200
20140101_N     400
dtype: int64

In [57]:
train_df.drop('Unnamed: 0', axis=1, inplace=True)

In [58]:
train_df.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,ID,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,1,water,637.5950,658.668,-1882.030,-1924.36,997.904,-1739.990,630.087,NaN,...,NaN,-1043.160,-1942.490,267.138,NaN,NaN,211.328,-2203.020,-1180.19,433.906
1,2,water,634.2400,593.705,-1625.790,-1672.32,914.198,-692.386,707.626,-1670.590,...,NaN,-933.934,-625.385,120.059,364.858,476.972,220.878,-2250.000,-1360.56,524.075
2,4,water,58.0174,-1599.160,NaN,-1052.63,NaN,-1564.630,NaN,729.790,...,-1025.88,368.622,NaN,-1227.800,304.621,NaN,369.214,-2202.120,NaN,-1343.550
3,5,water,72.5180,NaN,380.436,-1256.93,515.805,-1413.180,-802.942,683.254,...,-1813.95,155.624,NaN,-924.073,432.150,282.833,298.320,-2197.360,NaN,-826.727
4,8,water,1136.4400,NaN,NaN,1647.83,1935.800,NaN,2158.980,NaN,...,1535.00,1959.430,-279.317,-384.915,-113.406,1020.720,1660.650,-116.801,-568.05,-1357.140

In [59]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          8000 non-null   int64
 1   class       8000 non-null   object
 2   20150720_N  7440 non-null   float64
 3   20150602_N  6800 non-null   float64
 4   20150517_N  7200 non-null   float64
 5   20150501_N  7040 non-null   float64
 6   20150415_N  7520 non-null   float64
 7   20150330_N  6880 non-null   float64
 8   20150314_N  7280 non-null   float64
 9   20150226_N  6640 non-null   float64
 10  20150210_N  7360 non-null   float64
 11  20150125_N  6960 non-null   float64
 12  20150109_N  7120 non-null   float64
 13  20141117_N  6720 non-null   float64
 14  20141101_N  7600 non-null   float64
 15  20141016_N  6560 non-null   float64
 16  20140930_N  7200 non-null   float64
 17  20140813_N  7440 non-null   float64
 18  20140626_N  6400 non-null   float64
 19  20140610_N  7520 non-null   float64
 20  20140525_N  7280 non-null   float64
 21  20140509_N  7120 non-null   float64
 22  20140423_N  6240 non-null   float64
 23  20140407_N  7360 non-null   float64
 24  20140322_N  6880 non-null   float64
 25  20140218_N  6560 non-null   float64
 26  20140202_N  7440 non-null   float64
 27  20140117_N  6800 non-null   float64
 28  20140101_N  7600 non-null   float64
dtypes: float64(27), int64(1), object(1)
memory usage: 1.8+ MB

In [60]:
# handling missing values with ffill and bfill
train_df_ffill = train_df.fillna(method='ffill', axis=0)
train_df_bfill = train_df_ffill.fillna(method='bfill', axis=0)

/tmp/ipykernel_35/1090200226.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  train_df_ffill = train_df.fillna(method='ffill', axis=0)
/tmp/ipykernel_35/1090200226.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  train_df_bfill = train_df_ffill.fillna(method='bfill', axis=0)

In [61]:
train_df_bfill

,ID,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,1,water,637.5950,658.668,-1882.030,-1924.36,997.904,-1739.990,630.087,-1670.590,...,-1025.880,-1043.160,-1942.490,267.138,364.858,476.972,211.328,-2203.020,-1180.190,433.906
1,2,water,634.2400,593.705,-1625.790,-1672.32,914.198,-692.386,707.626,-1670.590,...,-1025.880,-933.934,-625.385,120.059,364.858,476.972,220.878,-2250.000,-1360.560,524.075
2,4,water,58.0174,-1599.160,-1625.790,-1052.63,914.198,-1564.630,707.626,729.790,...,-1025.880,368.622,-625.385,-1227.800,304.621,476.972,369.214,-2202.120,-1360.560,-1343.550
3,5,water,72.5180,-1599.160,380.436,-1256.93,515.805,-1413.180,-802.942,683.254,...,-1813.950,155.624,-625.385,-924.073,432.150,282.833,298.320,-2197.360,-1360.560,-826.727
4,8,water,1136.4400,-1599.160,380.436,1647.83,1935.800,-1413.180,2158.980,683.254,...,1535.000,1959.430,-279.317,-384.915,-113.406,1020.720,1660.650,-116.801,-568.050,-1357.140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,10538,impervious,1207.7000,984.620,412.370,1166.25,937.478,1072.700,823.896,943.698,...,1117.740,1176.600,1044.110,5880.900,369.082,465.843,362.882,979.795,999.734,433.659
7996,10539,impervious,2170.3500,1419.720,1361.000,1478.71,983.911,1262.110,1422.860,1401.970,...,984.634,2128.970,1379.660,5880.900,762.633,485.204,446.724,771.747,1589.060,506.936
7997,10542,impervious,1895.6800,1454.740,1361.000,1033.56,1930.380,1057.150,1471.600,1401.970,...,888.408,2093.020,1232.110,1190.830,1441.460,1170.880,1095.000,1818.650,2501.720,1247.770
7998,10543,impervious,3465.7400,1283.320,413.412,4391.05,1146.820,4473.050,1614.750,770.469,...,5833.760,4047.320,4515.800,433.177,277.296,744.143,1095.000,3759.710,2501.720,388.346
7999,10545,impervious,6941.1900,1667.870,5084.780,4391.05,1588.950,5978.190,1614.750,3068.030,...,7352.570,3289.860,3729.150,1994.980,277.296,5299.900,1095.000,5983.130,1249.710,2424.230

In [62]:
train_df_bfill.isnull().sum()

ID            0
class         0
20150720_N    0
20150602_N    0
20150517_N    0
20150501_N    0
20150415_N    0
20150330_N    0
20150314_N    0
20150226_N    0
20150210_N    0
20150125_N    0
20150109_N    0
20141117_N    0
20141101_N    0
20141016_N    0
20140930_N    0
20140813_N    0
20140626_N    0
20140610_N    0
20140525_N    0
20140509_N    0
20140423_N    0
20140407_N    0
20140322_N    0
20140218_N    0
20140202_N    0
20140117_N    0
20140101_N    0
dtype: int64

now no missing values are found

In [63]:
print(train_df_bfill.dtypes)

ID              int64
class          object
20150720_N    float64
20150602_N    float64
20150517_N    float64
20150501_N    float64
20150415_N    float64
20150330_N    float64
20150314_N    float64
20150226_N    float64
20150210_N    float64
20150125_N    float64
20150109_N    float64
20141117_N    float64
20141101_N    float64
20141016_N    float64
20140930_N    float64
20140813_N    float64
20140626_N    float64
20140610_N    float64
20140525_N    float64
20140509_N    float64
20140423_N    float64
20140407_N    float64
20140322_N    float64
20140218_N    float64
20140202_N    float64
20140117_N    float64
20140101_N    float64
dtype: object

In [40]:
# #checking any string value in column 2 
# print(train_df_bfill['20150720_N'].unique())
# #checking any string value in column 3 
# print(train_df_bfill['20150602_N'].unique())
# #checking any string value in column 4 
# print(train_df_bfill['20150517_N'].unique())

[637.595 634.24 58.0174 ... 1895.68 3465.74 6941.19]
[658.668 593.705 -1599.16 ... 1454.74 1283.32 1667.87]
[-1882.03 -1625.79 -1599.16 ... 1454.74 413.412 5084.78]

### not found any string values may be somewhere in the middle
### now converting any string character or value to numeric

In [41]:
# #converting column 2
# train_df_bfill['20150720_N'] = pd.to_numeric(train_df_bfill['20150720_N'], errors='coerce')
# #converting column 3
# train_df_bfill['20150602_N'] = pd.to_numeric(train_df_bfill['20150602_N'], errors='coerce')
# #converting column 4
# train_df_bfill['20150517_N'] = pd.to_numeric(train_df_bfill['20150517_N'], errors='coerce')

In [42]:
# print(train_df_bfill['20150720_N'].dtype) # column 2
# print(train_df_bfill['20150602_N'].dtype) # column 3
# print(train_df_bfill['20150517_N'].dtype) # column 4

float64
float64
float64

missing values are found in column 2, 3 and 4

In [65]:
train_df_bfill['class'].value_counts()

class
forest        6159
farm           841
impervious     669
grass          196
water          105
orchard         30
Name: count, dtype: int64

In [66]:
#splitting features and target
X_train = train_df_bfill.drop(columns=['ID', 'class'])
y_train = train_df_bfill['class']

In [67]:
X_train

,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,20150210_N,20150125_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,637.5950,658.668,-1882.030,-1924.36,997.904,-1739.990,630.087,-1670.590,-1325.640,-944.084,...,-1025.880,-1043.160,-1942.490,267.138,364.858,476.972,211.328,-2203.020,-1180.190,433.906
1,634.2400,593.705,-1625.790,-1672.32,914.198,-692.386,707.626,-1670.590,-1408.640,-989.285,...,-1025.880,-933.934,-625.385,120.059,364.858,476.972,220.878,-2250.000,-1360.560,524.075
2,58.0174,-1599.160,-1625.790,-1052.63,914.198,-1564.630,707.626,729.790,-3162.140,-989.285,...,-1025.880,368.622,-625.385,-1227.800,304.621,476.972,369.214,-2202.120,-1360.560,-1343.550
3,72.5180,-1599.160,380.436,-1256.93,515.805,-1413.180,-802.942,683.254,-2829.400,-1267.540,...,-1813.950,155.624,-625.385,-924.073,432.150,282.833,298.320,-2197.360,-1360.560,-826.727
4,1136.4400,-1599.160,380.436,1647.83,1935.800,-1413.180,2158.980,683.254,1242.870,-2646.050,...,1535.000,1959.430,-279.317,-384.915,-113.406,1020.720,1660.650,-116.801,-568.050,-1357.140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,1207.7000,984.620,412.370,1166.25,937.478,1072.700,823.896,943.698,944.619,1040.990,...,1117.740,1176.600,1044.110,5880.900,369.082,465.843,362.882,979.795,999.734,433.659
7996,2170.3500,1419.720,1361.000,1478.71,983.911,1262.110,1422.860,1401.970,1372.680,1142.340,...,984.634,2128.970,1379.660,5880.900,762.633,485.204,446.724,771.747,1589.060,506.936
7997,1895.6800,1454.740,1361.000,1033.56,1930.380,1057.150,1471.600,1401.970,2693.630,2377.550,...,888.408,2093.020,1232.110,1190.830,1441.460,1170.880,1095.000,1818.650,2501.720,1247.770
7998,3465.7400,1283.320,413.412,4391.05,1146.820,4473.050,1614.750,770.469,2693.630,2676.000,...,5833.760,4047.320,4515.800,433.177,277.296,744.143,1095.000,3759.710,2501.720,388.346
7999,6941.1900,1667.870,5084.780,4391.05,1588.950,5978.190,1614.750,3068.030,6471.470,7150.420,...,7352.570,3289.860,3729.150,1994.980,277.296,5299.900,1095.000,5983.130,1249.710,2424.230

In [68]:
y_train

0            water
1            water
2            water
3            water
4            water
           ...
7995    impervious
7996    impervious
7997    impervious
7998    impervious
7999    impervious
Name: class, Length: 8000, dtype: object

In [70]:
#preprocessing target variable: class
lencoder = LabelEncoder()
y_train_encoded = lencoder.fit_transform(y_train)

In [72]:
# standardize the columns: feature scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)

In [82]:
#training the model
model = LogisticRegression(multi_class='multinomial', max_iter=1000, random_state=42)
model.fit(X_train_scaled, y_train_encoded)

LogisticRegression(max_iter=1000, multi_class='multinomial', random_state=42)

In [83]:
#evaluating model on training set
train_acc = model.score(X_train_scaled, y_train_encoded)
print('Training Accuracy: ', train_acc)

Training Accuracy:  0.894

## Testing the model accuracy on testing dataset

In [85]:
test_df = pd.read_csv('/kaggle/input/summer-analytics-mid-hackathon/hacktest.csv')
test_df

,Unnamed: 0,ID,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,0,1,7466.4200,413.162,5761.000,5625.45,489.4030,3923.84,3097.110,6766.42000,...,801.184,927.115,4704.14,6378.42,340.949,2695.5700,527.268,4736.75,601.843,6639.760
1,1,2,7235.2600,6037.350,1027.560,6085.14,1618.0500,6668.54,2513.990,1051.69000,...,5533.470,5103.040,5216.12,4885.27,4366.790,1234.1400,3298.110,6942.68,1070.440,842.101
2,2,3,7425.0800,6969.980,1177.940,7408.93,861.0610,7644.43,814.458,1504.29000,...,1981.390,6204.540,7021.69,5704.41,4897.450,1789.9900,2206.100,6928.93,1036.560,831.441
3,3,4,7119.1200,1731.620,6311.930,6441.61,465.9790,7128.42,1649.120,6935.22000,...,959.344,5794.150,1045.57,5572.90,586.287,685.9060,1287.000,6734.72,824.584,6883.610
4,4,5,7519.5500,8130.260,1482.540,7879.53,1001.2100,7937.60,4122.530,1094.51000,...,7636.070,6996.760,7413.43,4596.13,4511.700,1413.5200,3283.940,7937.68,1857.800,1336.920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2840,2840,2841,-1673.7400,-2514.480,-2451.190,-2738.44,64.4464,-2275.03,-2881.100,-4738.97000,...,-2257.890,-2582.420,-1699.10,-2295.30,306.483,209.4030,221.920,-4885.15,-2630.590,356.233
2841,2841,2842,-96.8233,-412.727,-1795.400,-2363.82,-2168.1900,-2162.68,-3155.740,-4416.11000,...,-3991.910,-2614.910,-2109.84,-2687.18,-2853.890,71.3402,-86.414,-5109.01,324.637,-4316.580
2842,2842,2843,-2364.6000,-155.592,-1422.090,-1713.40,465.6220,-2230.40,-3088.730,-5010.32000,...,-2484.500,-1756.080,-3820.43,-1988.23,433.852,291.8000,254.548,-4259.30,412.115,-1170.750
2843,2843,2844,-3004.6300,-1217.120,180.122,-1113.89,438.4180,-2442.51,-3210.560,-3237.74000,...,-3291.490,-2018.450,-3472.65,-3109.07,511.792,369.0970,276.948,-5574.51,298.739,460.419
2844,2844,2845,-2975.1000,-1129.790,463.748,-5355.40,193.5110,-2590.16,-3113.520,-2.38883,...,-3058.230,-2276.180,-3335.00,-2929.19,-1007.500,271.0580,307.997,-5453.33,307.495,417.124

In [88]:
test_df.shape

(2845, 29)

In [86]:
test_df.isnull().sum()

Unnamed: 0    0
ID            0
20150720_N    0
20150602_N    0
20150517_N    0
20150501_N    0
20150415_N    0
20150330_N    0
20150314_N    0
20150226_N    0
20150210_N    0
20150125_N    0
20150109_N    0
20141117_N    0
20141101_N    0
20141016_N    0
20140930_N    0
20140813_N    0
20140626_N    0
20140610_N    0
20140525_N    0
20140509_N    0
20140423_N    0
20140407_N    0
20140322_N    0
20140218_N    0
20140202_N    0
20140117_N    0
20140101_N    0
dtype: int64

In [87]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2845 entries, 0 to 2844
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2845 non-null   int64
 1   ID          2845 non-null   int64
 2   20150720_N  2845 non-null   float64
 3   20150602_N  2845 non-null   float64
 4   20150517_N  2845 non-null   float64
 5   20150501_N  2845 non-null   float64
 6   20150415_N  2845 non-null   float64
 7   20150330_N  2845 non-null   float64
 8   20150314_N  2845 non-null   float64
 9   20150226_N  2845 non-null   float64
 10  20150210_N  2845 non-null   float64
 11  20150125_N  2845 non-null   float64
 12  20150109_N  2845 non-null   float64
 13  20141117_N  2845 non-null   float64
 14  20141101_N  2845 non-null   float64
 15  20141016_N  2845 non-null   float64
 16  20140930_N  2845 non-null   float64
 17  20140813_N  2845 non-null   float64
 18  20140626_N  2845 non-null   float64
 19  20140610_N  2845 non-null   float64
 20  20140525_N  2845 non-null   float64
 21  20140509_N  2845 non-null   float64
 22  20140423_N  2845 non-null   float64
 23  20140407_N  2845 non-null   float64
 24  20140322_N  2845 non-null   float64
 25  20140218_N  2845 non-null   float64
 26  20140202_N  2845 non-null   float64
 27  20140117_N  2845 non-null   float64
 28  20140101_N  2845 non-null   float64
dtypes: float64(27), int64(2)
memory usage: 644.7 KB

In [92]:
ID = test_df['ID']
X_test = test_df.drop(columns=['ID', 'Unnamed: 0'])

KeyError: 'ID'

In [94]:
X_test_scaled = scaler.transform(X_test)

In [95]:
X_test_scaled

array([[ 0.71953629, -1.604785  ,  0.45470605, ..., -0.82770832,
        -0.85044931,  1.66517841],
       [ 0.61727881,  0.43142065, -1.1842614 , ...,  0.3787631 ,
        -0.65344721, -0.71360008],
       [ 0.70124885,  0.7690741 , -1.13219189, ...,  0.37124292,
        -0.66769064, -0.71797387],
       ...,
       [-3.62937924, -1.81069919, -2.03245988, ..., -5.74784505,
        -0.93021255, -1.5394725 ],
       [-3.91250718, -2.19501944, -1.47768929, ..., -6.46716219,
        -0.97787677, -0.87020414],
       [-3.89944409, -2.1634021 , -1.37948296, ..., -6.4008862 ,
        -0.97419567, -0.88796807]])

In [96]:
y_test_pred_encoded = model.predict(X_test_scaled)

In [98]:
y_test_pred = lencoder.inverse_transform(y_test_pred_encoded)

In [99]:
result = pd.DataFrame({
    'ID': ID,
    'class': y_test_pred
})

In [100]:
result

        ID       class
0        1     orchard
1        2      forest
2        3     orchard
3        4      forest
4        5      forest
...    ...         ...
2840  2841       water
2841  2842  impervious
2842  2843       water
2843  2844       water
2844  2845  impervious

[2845 rows x 2 columns]

In [101]:
result.to_csv('submission.csv', index=False)